<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/list.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= myday %>
        </h1>
    </div>

    <div class="box">
        <% myItems.forEach(e=> { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= e %>
                </p>
            </div>

            <% }) %>

                <form class="item" method="post" action="/list">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="button">+</button>
                </form>
    </div>
</body>

<footer>© Copywrite 2023 SG.</footer>

</html>